/* You can add global styles to this file, and also import other style files */

html{
  height: 100%;
  font-size:62.5%;
  box-sizing: border-box;
}

*, *:before, *:after{
  box-sizing: inherit;
}
body {
  margin: 1rem 1rem;
   font-family: Roboto, "Helvetica Neue", sans-serif;
   overflow: hidden;
}
/* globales */
img{
  display: block;
  max-width: 100%;
}
.spacer{
  flex: 1 1 auto;
}
.container{
  margin: 1rem;
}
li{
  list-style: none;
}
